.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    top: 110px;
    position: relative;
}
.search_bar{
    position: relative;
    top: 70px;
    text-align:center;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
  }
  .navbar{
    position: absolute;
    top: 10px;
    right: 10px;
  }
  button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    color: blue;
    width: 130px;
    height: 30px;
    font-size: 15px;
    background-color: white;
  }
  .search_field{
    border-radius: 20px;
    height: 30px;
    width: 590px;
  }